REACT_APP_AUTH0_DOMAIN=
REACT_APP_AUTH0_CLIENT_ID=
NEO4J_PROTOCOL=
NEO4J_HOST=
NEO4J_USERNAME=
NEO4J_PASSWORD=
NEO4J_PORT=
REACT_APP_MAPBOX_TOKEN=
GENERATE_SOURCEMAP=
REACT_APP_API_URL=
#REACT_APP_API_URL=
REACT_APP_GOOGLE_ANALYTICS_ID=
REACT_APP_SURVEY_CAMPAIGN_ID=
REACT_APP_SURVEY_START_AT=
REACT_APP_SURVEY_FULL_SAMPLE_UNTIL=
REACT_APP_SURVEY_END_AT=
REACT_APP_SURVEY_SAMPLE_PERCENT=0
REACT_APP_SURVEY_DELAY_MS=20000
WDS_SOCKET_PORT=
