REACT_APP_AUTH0_DOMAIN=
REACT_APP_AUTH0_CLIENT_ID=
NEO4J_PROTOCOL=
NEO4J_HOST=
NEO4J_USERNAME=
NEO4J_PASSWORD=
NEO4J_PORT=
REACT_APP_MAPBOX_TOKEN=
GENERATE_SOURCEMAP=
REACT_APP_API_URL=
#REACT_APP_API_URL=
REACT_APP_GOOGLE_ANALYTICS_ID=
WDS_SOCKET_PORT=
