#catmapperfooter{
    color: white !important;
  }

.footer{
    width: 100%;
    padding: 1rem 0 0 0;
    background: rgba(0, 0, 0, .9);
}

.footer-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    grid-gap: 40px;
}

.location{
    display: flex;
}

.footer h4{
    font-size: 1.4rem;
    padding: 1rem 0;
}

.footer p{
    font-size: 1rem;
    padding: 1rem 0;
    color: #fff;
}



