.cm-nav--home {
  position: sticky;
  top: 0;
}

.cm-nav--home .cm-nav-image {
  margin: 0;
  padding-top: 20px;
  border: 0;
}

.cm-nav--home .cm-nav-image img {
  width: 100px;
  height: 70px;
}

.cm-nav--home .cm-nav-link--app {
  display: flex;
  align-items: center;
}

.cm-nav--home .cm-nav-link--app::before {
  display: none;
}

.cm-nav--home .cm-nav-app-logo {
  display: block;
  height: 24px;
  width: auto;
  max-width: 112px;
}

@media screen and (max-width: 599px) {
  .cm-nav--home .cm-nav-app-logo {
    height: 36px;
  }
}
