.cm-nav--app {
  min-height: 10vh;
}

.cm-nav-app-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 2;
}

.cm-nav-app-logo img,
.cm-nav-image img {
  height: 50px;
  width: auto;
}

.cm-nav-dropdown {
  position: relative;
  display: inline-block;
}

.cm-nav-dropdown-arrow {
  font-size: 10px;
}

.cm-nav-dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
  top: 100%;
  padding-top: 0;
  margin-top: 0;
  white-space: nowrap;
}

.cm-nav-dropdown-content a {
  color: gray;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: bold;
  font-size: 12px;
}

.cm-nav-dropdown-content a:hover {
  background-color: #f1f1f1;
}

.cm-nav-dropdown:hover .cm-nav-dropdown-content {
  display: block;
}

.cm-nav-auth-btn {
  margin-left: 0.5rem;
}

.cm-nav--app .cm-nav-menu {
  margin-left: auto;
}
