#boxStyle{
    background-color: '#e0e0e0';
    padding: '20px';
    border: '1px solid #ccc';
    border-radius: '10px';
    margin: '20px';
  }

.exact-matches {
    background-color: #FDEDEC !important;
}
.fuzzy-matches{
    background-color: #E8DAEF !important;
}
.one-to-many {
    background-color: #D4E6F1 !important;
}
.many-to-one {
    background-color: #D5F5E3 !important;
}
.none {
    background-color: #FCF3CF !important;
}
.color-undefined {
  background-color: #FFFFFF;
}
