#boxStyle{
    background-color: '#e0e0e0';
    padding: '20px';
    border: '1px solid #ccc';
    border-radius: '10px';
    margin: '20px';
  }

.exact-matches {
    background-color: #FFFFFF !important;
}
.fuzzy-matches{
    background-color: #F6C594 !important;
}
.one-to-many {
    background-color: #F6AD94 !important;
}
.many-to-one {
    background-color: #e48dd9 !important;
}
.none {
    background-color: #FFFFCC !important;
}
.color-undefined {
  background-color: #FFFFFF;
}
