.custom-row-height .MuiDataGrid-cell {
  display: flex;
  align-items: center;
  padding: 0 !important;
}

.wrap-text-3-lines_ex {
display: -webkit-box  !important; /* Creates a flexible box model */
line-clamp: 3  !important;
-webkit-line-clamp: 3  !important; /* Limits the text to 3 lines */
-webkit-box-orient: vertical  !important; /* Sets the box's orientation to vertical */
overflow: hidden  !important; /* Hides the overflowing content */
text-overflow: ellipsis  !important; /* Adds ellipsis at the end of the visible content */
white-space: normal !important; /* Ensures text wraps to the next line */
word-break: break-all !important; /* Breaks words when necessary */
max-height: 4.5em !important; /* Limits the max height of the cell to 3 lines */
line-height: 1.5em !important; 
}