.row-color-2 {
    background-color: #FFFFFF;
}
.row-color-3 {
    background-color: #F6C594;
}
.row-color-4 {
    background-color: #F6AD94;
}
.row-color-5 {
    background-color: #e48dd9;
}
.row-color-6 {
    background-color: #FFFFCC;
}