.row-color-2 {
    background-color: #FDEDEC;
}
.row-color-3 {
    background-color: #E8DAEF;
}
.row-color-4 {
    background-color: #D4E6F1;
}
.row-color-5 {
    background-color: #D5F5E3;
}
.row-color-6 {
    background-color: #FCF3CF;
}
