#video{
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#mainvideo{
    color: white !important;
}

.stacked {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; 
}

.hero{
    min-height: 100vh;
    width: 100%;
    object-fit: contain;
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    position: relative;
}

.hero .maincontent {
    max-width: 90%;
    padding: 1rem;
    color: white;
}

.hero .maincontent h1{
    font-size: 3rem;
}

.hero p{
    font-size: 1.8rem;
    font-weight: 200;
    margin-bottom: 1.6rem;
}

.hero .btn{
    margin: 1rem .4rem;
}

@media (max-width: 768px) {
    .hero .maincontent h1#mainvideo{
        font-size: 1.8rem !important;
    }

    .maincontent p{
        font-size: 1rem;
        margin-bottom: 1.6rem;
    }
    
}